.background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets//img//fotograper.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(37%);
    z-index: -1;
    background-attachment: fixed;
}